---
const { platform, username } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`} target="_blank" rel="noopener noreferrer">{platform}</a>

<style>
    a {
        text-decoration: none;
        color: inherit;
        font-weight: bold;
        margin-right: 1rem;
    }
</style>