---
title: "À propos"
---
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>À propos</title>
    </head>
    <body>
        <h1>À propos de moi</h1>
        <p>
            Après 6 ans en tant que développeuse web et product manager, j'ai choisi de me consacrer pleinement à l'art, mon rêve de toujours, en intégrant en 2025 les Beaux-Arts de Paris. 
        </p>
    </body>
</html></p></head>